body {
    background: linear-gradient(135deg, rgb(7, 12, 24), #0d570d);
    font-family: Arial, sans-serif;
}

.header {
    background-color: #2a2f34;
    color: white;
    padding: 10px 0;
}

.logo {
    font-size: 36px;
    text-decoration: none;
}

.container {
    background-color: rgba(33, 33, 33);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(108, 108, 119);
    margin-bottom: 20px;
}

.input-container {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

.btn-primary {
    background-color: #00FF00;
    border: none;
}

.btn-primary:hover {
    background-color: #007F00;
}

.emoji-bar-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.emoji {
    flex: 0 0 auto;
    font-size: 2rem;
    margin-right: 1rem;
    background-color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar-container {
    flex: 1;
}

.progress-bar {
    height: 20px;
}

.historial-container {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #000000;
    border-radius: 5px;
}

